{% extends 'crud/base.html'%} 
{%block title%}{{pk}}{%endblock%} 
{% block content%}
<div class="container" style="max-width: 6000px">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">UPDATE employee Details</h1>
  </div>
  <div class="py-5">
    <div class="row">
      <div class="col-12">
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <input type="submit" value="Save" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}
